@include keyframes(fadeIn) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@include keyframes(fadeOut) {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.animated {
	@include animation-duration(.2s);
	@include animation-fill-mode(both);
}

.animated.fadeIn {
	@include animation-name(fadeIn);
}

.animated.fadeOut {
	@include animation-name(fadeOut);
}