@font-face {
	font-family: 'TP Vorzeit Grotesk Demi';
	src: url('../fonts/TPVorzeitGrotesk-DemiBold.eot');
	src: url('../fonts/TPVorzeitGrotesk-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TPVorzeitGrotesk-DemiBold.woff2') format('woff2'),
		url('../fonts/TPVorzeitGrotesk-DemiBold.woff') format('woff'),
		url('../fonts/TPVorzeitGrotesk-DemiBold.ttf') format('truetype'),
		url('../fonts/TPVorzeitGrotesk-DemiBold.svg#TPVorzeitGrotesk-DemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}